# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
coverage/

# IDE
.idea/
.vscode/
*.iml

# Android signing
android/key.properties
*.jks
*.keystore

# OS
.DS_Store
